@import "mixins";

.app {
  display: flex;
  align-items: center;
  max-height: 100vh;
  flex-direction: column;
  font-family: "Fakt", sans-serif, Helvetica, Arial;

  &-content {
    flex: 1;
    min-height: 100vh;
    max-width: 1248px;
    width: 100%;
    @include for-size(phone-only) {
      display: flex;
      flex-direction: column;
    }
  }
}
